<h1>Bienvenue sur CritiqueHub</h1>

<nav>
  <a href="{% url 'home' %}">Accueil</a> |
  <a href="{% url 'admin:index' %}">Admin</a> |
  <a href="{% url 'login' %}">Connexion</a> |
  <a href="{% url 'signup' %}">S'inscrire</a>
</nav>

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <label for="username">Username:</label>
  <input id="username" type="text" name="username" required>
  
  <label for="password">Password:</label>
  <input id="password" type="password" name="password" required>
  
  <button type="submit">Se connecter</button>
</form>



