<!DOCTYPE html>
<html>
<head>
    <title>CritiqueHub</title>
</head>
<body>
<header>
    <h1>🎬 CritiqueHub</h1>
    {% if user.is_authenticated %}
        <p>Bonjour {{ user.username }} | <a href="{% url 'logout' %}">Déconnexion</a></p>
        <nav>
            <a href="{% url 'flux' %}">Flux</a> |
            <a href="{% url 'subscriptions' %}">Abonnements</a> |
            <a href="{% url 'my_posts' %}">Mon espace</a>
        </nav>
    {% else %}
        <a href="{% url 'login' %}">Se connecter</a> |
        <a href="{% url 'signup' %}">S'inscrire</a>
    {% endif %}
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
